# Ignore from testing
./testing/alg-theme-cala-config/pkg/
./testing/alg-theme-cala-config/src/
./testing/alg-theme-cala-config/alg-*

./testing/calamares-3.3.5/calamares*

# Ignore from cala-configs
./cala-configs/alg-wm-cala-config/objects/pack/*

# Ignore from calamares
./calamares/calamares-3.2.26
./calamares/calamares-3.2.39
./calamares/calamares-3.2.47
./calamares/calamares-3.2.62
./calamares/calamares-3.3.5

*.tar
*.tar.zst
*.log
